.formacion{
    display: flex;
    flex-direction: column;
}

.formacion-body{
    background-color: var(--secundary-color);
    color: var(--text-color-inverse);
}

.onda{
    width: 100%;
    position: relative;
    top: 2px;
}

.onda-bottom{
    transform: scaleY(-1);
    top: -2px;
}

.formacion-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: bold;
    margin: 20px;
    
}

.formacion-text{
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 20px;
}
